extends layout

block content
  h1= title
  if book_list.length
    ul
      each book in book_list
        li
          a(href=book.url) #{book.title}
          if book.author
            |  (#{book.author.name})
          else
            |  (Unknown Author)
  else
    p There are no books.
